In [1]:
# data import
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
#data modelling
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('data/heart_disease_data.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
print(len(data))

303

In [4]:
X = data.drop(columns='target', axis=1)
y = data['target']

In [5]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [6]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [7]:
xtrain,xtest, ytrain,ytest = train_test_split(X,y,test_size=0.2, stratify=y, random_state=2)

In [8]:
model = LogisticRegression()
model.fit(xtrain, ytrain)

c:\Users\ALCIDES\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [9]:
'''
Model Eval train data

'''
x_train_pred = model.predict(xtrain)
train_data_acc = accuracy_score(x_train_pred, ytrain)
print('Accuracy on train data: {}'.format(train_data_acc))

Accuracy on train data: 0.8512396694214877

In [10]:
'''
Model Eval test data

'''

x_test_pred = model.predict(xtest)
test_data_acc = accuracy_score(x_test_pred, ytest)
print('Accuracy on test data: {}'.format(test_data_acc))

Accuracy on test data: 0.819672131147541

In [11]:
'''
Building a predictive system
'''
input_data = (62,0,0,140,268,0,0,172,0,1.4,2,0,2)

input_data_arr = np.asarray(input_data)

#reshape data
input_data_reshaped = input_data_arr.reshape(1,-1)

pred = model.predict(input_data_reshaped)
print(pred)

if pred[0] == 0:
    print('Patient does not have heart disease')
else:
    print('Patient does have an heart disease')

[1]
Patient does have an heart disease